---
layout    : default
class     : home-template
current   : home
cover     : /assets/images/cover-home.jpg
---

{%- comment -%} The tag above means: insert everything in this file into the {body} of the default.html template {%- endcomment -%}
    
{%- comment -%} The big featured header, it uses blog cover image as a BG if available {%- endcomment -%}
    <header class="site-header outer {% if page.cover %}" style="background-image: url({{ page.cover | relative_url }}){% else %}no-cover{% endif %}">
        <div class="inner">
            <div class="site-header-content">
                <h1 class="site-title">
                    {% if site.logo %}
                        <img class="site-logo" src="{{ site.logo | relative_url }}" alt="{{site.name}}" />
                    {% else %}
                        {{ site.name }}
                    {% endif %}
                </h1>
                <h2 class="site-description">{{ site.description }}</h2>
            </div>
            
            {% include site-nav.html %}
        </div>
    </header>
    
{%- comment -%} The main content area {%- endcomment -%}
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
    
            <div class="post-feed">
                {% for post in paginator.posts %}
                    {%- include post-card.html post=post -%}
                {% endfor %}
            </div>

            {% include pagination.html prefix='' %}
        </div>
    </main>
