
.floating-header-share-swb {
    background: #e6162d;
    display: block;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.social-link-gh svg {
    height: 1.5rem;
    margin-left: 2px;
}

.social-link-swb svg {
    height: 1.6rem;
}

.page-about .post-full .post-full-image {
    height: 400px;
}

@media (max-width: 900px) {
    .floating-header-share-swb {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
}