---
layout    : default
cover     : "/assets/images/cover-author.jpg"
logo      : false
class     : author-template
navigation: true
current   : author
---

{%- assign author = site.data.authors[page.author] -%}
{%- capture author_rss_url -%}/author/{{ page.author }}/rss.xml{%- endcapture -%}

{% comment %} The tag above means - insert everything in this file into the [body] of the default.html template {% endcomment %}

{% comment %} Everything inside the #author tags pulls data from the author {% endcomment %}
    <header class="site-header outer {% if author.cover %}" style="background-image: url({{author.cover}}){% else %} no-cover{% endif %}">
        <div class="inner">
            {% include site-nav.html %}
            <div class="site-header-content">
            {% if author.avatar %}
                <img class="author-profile-image" src="{{ author.avatar }}?size=200" alt="{{author.name}}" />
            {% endif %}
                <h1 class="site-title">{{author.name}}</h1>
            {% if author.bio %}
                <h2 class="author-bio">{{ author.bio }}</h2>
            {% endif %}
                <div class="author-meta">
                {% if author.location %}
                    <div class="author-location">{{author.location}} <span class="bull">&bull;</span></div>
                {% endif %}
                    <div class="author-stats">
                        {% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %} <span class="bull">&bull;</span>
                    </div>
                {% if author.github_url %}
                    <a class="social-link social-link-gh" href="{{author.github_url}}" target="_blank" rel="noopener">{% include icons/github.html %}</a>
                {% endif %}
                {% if author.twitter_url %}
                    <a class="social-link social-link-tw" href="{{author.twitter_url}}" target="_blank" rel="noopener">{% include icons/twitter.html %}</a>
                {% endif %}
                {% if author.weibo_url %}
                    <a class="social-link social-link-swb" href="{{author.weibo_url}}" target="_blank" rel="noopener">{% include icons/weibo.html %}</a>
                {% endif %}
                    <a class="social-link social-link-rss" href="{{ author_rss_url | absolute_url }}" target="_blank" rel="noopener">{% include icons/rss.html %}</a>
                </div>
            </div>
        </div>
    </header>

{% comment %} The main content area {% endcomment %}
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
            <div class="post-feed">
                {% for post in paginator.posts %}
                {% comment %} The tag below includes the markup for each post - _includes/post-card.html {% endcomment %}
                    {% include post-card.html post=post %}
                {% endfor %}
            </div>
        </div>
    </main>
