---
layout    : default
disqus    : true
class     : post-template
current   : post
---

{%- assign author = page.categories[0] -%}
{%- assign author_info = site.data.authors[author] -%}
{%- capture author_page_path -%}/author/{{ author }}/{%- endcapture -%}
{% comment %} The tag above means: insert everything in this file into the {body} of the default.hbs template {% endcomment %}
    
    <header class="site-header outer">
        <div class="inner">
                {% include site-nav.html %}
        </div>
    </header>
    
{% comment %} Everything inside the #post tags pulls data from the post {% endcomment %}

    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">

            <article class="post-full {{ page.class }}{% unless page.cover %} no-image{% endunless %}">

                <header class="post-full-header">
                        <section class="post-full-meta">
                            <time class="post-full-meta-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                            {% for tag in page.tags %}
                            {%- assign tag_info = site.data.tags[tag] -%}
                            {%- capture tag_page_path -%}/tag/{{ tag | downcase }}/{%- endcapture -%}
                                <span class="date-divider">/</span> <a href="{{ tag_page_path | relative_url }}">{% if tag_info %}{{ tag_info.name }}{% else %}{{ tag | replace : '-', ' ' }}{% endif %}</a>
                            {% endfor %}
                        </section>
                        <h1 class="post-full-title">{{ page.title }}</h1>
                </header>

                {% if page.cover %}
                <figure class="post-full-image" style="background-image: url({{ page.cover | relative_url }})">
                </figure>
                {% endif %}

                <section class="post-full-content">
                    {{content}}
                </section>

                <footer class="post-full-footer">
{% comment %} Everything inside the #author tags pulls data from the author {% endcomment %}
    
                    <section class="author-card">
                        {% if author_info.avatar %}
                            <img class="author-profile-image" src="{{author_info.avatar}}?size=120" alt="{{author_info.name}}" />
                        {% endif %}
                            <section class="author-card-content">
                                <h4 class="author-card-name"><a href="{{ author_page_path | relative_url }}">{{name}}</a></h4>
                                {% if author_info.bio %}
                                    <p> {{ author_info.bio }}</p>
                                {% else %}
                                    <p>Read <a href="{{ author_page_path | relative_url }}">more posts</a> by this author.</p>
                                {% endif %}
                            </section>
                        </section>
                        <div class="post-full-footer-right">
                            <a class="author-card-button" href="{{ author_page_path | relative_url }}">Read More</a>
                        </div>
        
                </footer>

            {% if jekyll.environment == "production" and site.disqus and page.comments %}
                {% include disqus.html %}
            {% endif %}

            </article>

        </div>
    </main>

{% comment %} Links to Previous/Next posts {% endcomment %}
    <aside class="read-next outer">
        <div class="inner">
            <div class="read-next-feed">
            {% for tag in page.tags limit:1 %}
                {%- assign tag_info = site.data.tags[tag] -%}
                {%- assign related_posts = site.tags[tag] -%}
                {%- assign related_posts_count = related_posts | size -%}
                {%- capture tag_page_path -%}/tag/{{ tag | downcase }}/{%- endcapture -%}
                {% if related_posts_count > 0 %}
                <article class="read-next-card"
                        {%- if tag_info.cover -%}
                            style="background-image: url({{ tag_info.cover | relative_url }})"
                        {%- elsif site.cover -%}
                                style="background-image: url({{ site.cover | relative_url }})"
                        {%- endif -%}>
                    <header class="read-next-card-header">
                        <small class="read-next-card-header-sitetitle">&mdash; {{site.name}} &mdash;</small>
                        <h3 class="read-next-card-header-title"><a href="{{ tag_page_path | relative_url }}">{% if tag_info %}{{ tag_info.name }}{% else %}{{ tag | replace : '-', ' ' }}{% endif %}</a></h3>
                    </header>
                    <div class="read-next-divider">{% include icons/infinity.html %}</div>
                    <div class="read-next-card-content">
                        <ul>
                            {% for post in related_posts limit:3 %}
                            <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="{{ tag_page_path | relative_url }}">{% if related_posts_count > 1 %}See all {{related_posts_count}} posts{% elsif related_posts_count == 1 %}1 post{% else %}No posts{% endif %} →</a>
                    </footer>
                </article>
                {% endif %}
            {% endfor %}

{% comment %} If there's a next post, display it using the same markup included from - _includes/post-card.html {% endcomment %}
            {% if page.next %}
                {% include post-card.html post=page.next %}
            {% endif %}
{% comment %} If there's a previous post, display it using the same markup included from - _includes/post-card.html {% endcomment %}
            {% if page.previous %}
                {% include post-card.html post=page.previous %}
            {% endif %}
            </div>
        </div>
    </aside>

{% comment %} Floating header which appears on-scroll, included from includes/floating-header.hbs {% endcomment %}
    {% include floating-header.html %}
