---
layout    : default
disqus    : true
class     : post-template
navigation: true
current   : post
---

<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->
<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover | relative_url }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ '/' | relative_url }}"><img src="{{ page.logo | relative_url }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation or layout.navigation and page.navigation != false %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">
{% assign author = page.categories[0] %}
    <article class="{% if page.class %}{{ page.class }}{% else %}post{% endif %}">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                <!-- [[tags prefix=" on "]] -->
                {% if page.tags.size > 0 %} 
                on 
                {% for tag in page.tags %}
                    {% capture tag_page_path %}/tag/{{ tag | downcase }}/{% endcapture %}
                    {% if forloop.index == page.tags.size %}
                       <a href='{{ tag_page_path | relative_url }}'>{{ tag | replace : '-', ' ' }}</a>
                    {% else %}
                       <a href='{{ tag_page_path | relative_url }}'>{{ tag | replace : '-', ' ' }}</a>,
                    {% endif %}   
                {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            
            {{ content }}

        </section>

        <footer class="post-footer">

            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->
            {% capture author_page_path %}/author/{{ author }}/{% endcapture %}
            {% if site.image %}
            <figure class="author-image">
                <a class="img" href="{{ author_page_path | relative_url }}" style="background-image: url({{ site.data.authors[author].avatar }}?size=136)"><span class="hidden">{{ site.data.authors[author].name }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ author_page_path | relative_url }}">{{ site.data.authors[author].name }}</a></h4>
                
                {% if site.data.authors[author].bio %}
                    <p> {{ site.data.authors[author].bio }}</p>
                {% endif %}
                <div class="author-meta">
                    {% if page.location %}<span class="author-location icon-location"> {{ page.location }}</span>
                    {% elsif site.data.authors[author].location %}<span class="author-location icon-location"> {{ site.data.authors[author].location }}</span>{% endif %} 
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title | uri_escape }}&url={{ page.url | absolute_url | uri_escape }}"
                    onclick="window.open('http://twitter.com/share?text={{ page.title | uri_escape }}&url=' + encodeURIComponent(window.location.href), 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | uri_escape }}"
                    onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href), 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-weibo" href="http://service.weibo.com/share/share.php?url={{ page.url | absolute_url | uri_escape }}&title={{ page.title | uri_escape }}"
                   onclick="window.open('http://service.weibo.com/share/share.php?title={{ page.title | uri_escape }}&url=' + encodeURIComponent(window.location.href), 'weibo-share', 'width=560,height=530');return false;">
                    <span class="hidden">Weibo</span>
                </a>
            </section>
            
            {% if jekyll.environment == "production" and site.disqus and page.comments %}
                <!-- Add Disqus Comments -->
                {% include disqus.html %}
            {% endif %}
            
        </footer>

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ page.next.cover | relative_url }}){% else %}no-cover{% endif %}" href="{{ page.next.url | relative_url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{% if page.next.excerpt %}{{ page.next.excerpt | strip_html }}{% else %}{{ page.next.content | strip_html | truncatewords: 15 }}{% endif %}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ page.previous.cover | relative_url }}){% else %}no-cover{% endif %}" href="{{ page.previous.url | relative_url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{% if page.previous.excerpt %}{{ page.previous.excerpt | strip_html }}{% else %}{{ page.previous.content | strip_html | truncatewords: 15 }}{% endif %}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>

<!-- /post -->
