---
layout    : default
cover     : "/assets/images/cover-tags.jpg"
logo      : false
class     : tag-template
navigation: true
current   : tag
---

{%- assign tag = site.data.tags[page.tag] -%}

{% comment %} The tag above means - insert everything in this file into the [body] of the default.html template {% endcomment %}

{% comment %} The big featured header, it uses blog cover image as a BG if available {% endcomment %}
    <header class="site-header outer {% if page.cover %}" style="background-image: url({{page.cover | relative_url}}){% else %}no-cover{% endif %}">
        <div class="inner">
            {% include site-nav.html %}
            <div class="site-header-content">
                <h1 class="site-title">{{ page.tag }}</h1>
                <h2 class="site-description">
                    {% if tag.description %}
                        {{ tag.description }}
                    {% elsif page.tag %}
                        A collection of {% if paginator.total_posts > 1%}{{ paginator.total_posts }} posts{% elsif paginator.total_posts == 1 %} 1 post{% else %} posts{% endif %}
                    {% endif %}
                </h2>
            </div>
        </div>
    </header>

{% comment %} The main content area {% endcomment %}
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
            <div class="post-feed">
            {% for post in paginator.posts %}
            {% comment %} The tag below includes the markup for each post - _includes/post-card.html {% endcomment %}
                {% include post-card.html post=post %}
            {% endfor %}
            </div>
        </div>
    </main>